*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Arimo", sans-serif; }

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 12.5rem) [col-end]) [center-end] 1fr [full-end];
  grid-template-rows: 100vh;
  row-gap: 1rem; }

.heading-1 {
  font-size: 20rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase; }

.heading-2 {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase; }

.heading-3 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase; }

.txt-center {
  text-align: center; }

.black-element {
  background-color: #000;
  border: .5rem solid #fff; }

.heading-spans__titles {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 1rem;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0 6rem; }
  .heading-spans__titles--element {
    display: block;
    border-left: .5rem solid #fff;
    border-right: .5rem solid #fff;
    padding: 2rem;
    display: flex;
    text-align: center; }

.header {
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 80vw) 1fr;
  align-content: space-evenly; }
  .header__primary {
    grid-column: 2 / 3; }
  .header__secondary {
    grid-column: 1 / -1; }
  .header__tertiary {
    grid-column: 1 / -1;
    padding: 1rem; }
  .header__shows {
    grid-column: 1 / -1; }

nav {
  list-style: none; }
