$font-arimo: 'Arimo', sans-serif;
$font-staat: 'Staatliches', cursive;


$largest: 78.75em; //1260
$large: 62.5em; //1000px
$medium: 55.312em; // 850px
$small: 40.625em; //650px
$smallest: 31.25em; //650px
$tiny: 22.5em; //360px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    @media only screen and (max-width: $largest) {
        font-size: 50%;
    }
    @media only screen and (max-width: $smallest) {
        font-size: 37.5%;
    }
        
    }


body {
    font-family: $font-arimo;

}

.container {
    display: grid;
    grid-template-columns: [full-start] 1fr 
                            [center-start] repeat(8, [col-start] minmax(min-content, 12.5rem) [col-end])
                             [center-end] 1fr [full-end];
    grid-template-rows: min-content minmax(min-content, 90vh) minmax(min-content, 100vh) 100vh min-content min-content;
    row-gap: 1rem;
    align-content: start;
    justify-content: center;

    @media only screen and (max-width: $medium) {
        row-gap: 0;
    }

    @media only screen and (max-width: $small) {
        grid-template-rows: 100vh 100vh;
    }

    @media only screen and (max-width: $smallest) {
        grid-template-rows: 100vh 60vh;
        }
}