$font-arimo: 'Arimo', sans-serif;
$font-staat: 'Staatliches', cursive;

$padding-small: 2rem;

$largest: 78.75em; //1260
$large: 62.5em; //1000px
$medium: 55.312em; // 850px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    @media only screen and (max-width: $largest) {
        font-size: 50%;
    }
        
    }


body {
    font-family: $font-arimo;

}

.container {
    display: grid;
    grid-template-columns: [full-start] 1fr 
                            [center-start] repeat(8, [col-start] minmax(min-content, 12.5rem) [col-end])
                             [center-end] 1fr [full-end];
    grid-template-rows: min-content minmax(min-content, 90vh) 100vh min-content min-content 80vh;
    row-gap: 1rem;
    align-content: start;
    justify-content: center;

    @media only screen and (max-width: $medium) {
        row-gap: 0;
    }
}