$font-arimo: 'Arimo', sans-serif;
$font-staat: 'Staatliches', cursive;

$padding-small: 2rem;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-arimo;

}

.container {
    display: grid;
    grid-template-columns: [full-start] 1fr 
                            [center-start] repeat(8, [col-start] minmax(min-content, 12.5rem) [col-end])
                             [center-end] 1fr [full-end];
    grid-template-rows: 100vh;
    row-gap: 1rem;
}