.contact {
    grid-column: col-start 2 / col-start 8;
    display: grid;
    justify-content: center;
    justify-items: center;    
    
    @media only screen and (max-width: $small) {
        grid-row: 6 / 7;
    }

    &__form {
        width: 40rem;
        height: 80vh;
        padding: 2rem 3rem;
        background-image: linear-gradient(168deg, black 0, black 60%, transparent 60%, transparent 65%, black 65%, black 68%, transparent 68%, transparent 73%, black 73%, black 76%, transparent 76%, transparent 81%, black 81%, black 84%);       
        color: white;

        @media only screen and(max-width: $small) {
            height: 55vh;
            padding: 5rem;
        }
    }
}