.header {
    grid-column: full-start / full-end;
    background-color: black;
    margin-top: -1rem;
    // max-height: 100vh;
    // grid-row: 2 / 3;


    display: grid;
    grid-template-columns: 1fr minmax(min-content, 80vw) 1fr;
    align-content: space-evenly;


    @media only screen and (max-width: $largest) {
        align-content: stretch;
    }

    @media only screen and (max-width: $small) {
        grid-row: 1 / 2;
    }


    &__primary {
        grid-column: 1 / -1;
    }
    &__secondary {
        grid-column: 2 / 3;
    }
    &__tertiary {
        grid-column: 2 / 3;
        display: grid;
        align-items: center;
        // padding: 1rem;
    }

    // &__shows {
    //     grid-column: 1 / -1;

    // }

}



