.header {
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    display: grid;

    &__primary {

    }

    &__secondary {

    }
}

.header-secondary {

    background-color: #000;
    justify-content: space-between;
    row-gap: 1rem;
    
}

.header-tertiary {

    &__date {
        padding: $padding-small
    }
}

.header-shows {
    padding: 0 6rem;
    &__artists {
        padding: $padding-small
    }
}