.location {
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, min-content);
    padding: 0 2rem;
    align-items: center;
    margin-bottom: 2rem;

  
   

    
    &__direction {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        padding: 0 4rem;

        @media only screen and (max-width: $large) {
            margin-top: 4rem;
            grid-row: 3 / 4;
            grid-column: 2 / 8;
            text-align: center;
        }
    }

    &__heading {
        grid-column: 4 / 8;

        @media only screen and (max-width: $large) {
            grid-column: 1 / -1;
        }

    }

    &__map {
        grid-column: 4 / 8;
        padding-bottom: 56.25%  ;

        overflow: hidden;
        height: 0;

        @media only screen and (max-width: $large) {
            grid-column: 2 / 8;
        }

        @media only screen and (max-width: $small) {
            grid-column: 1 / -1;
        }
        
        &iframe {
            height: 100%;
            width: 100%;
        }
    }

}