.heading-1 {
    font-size: 20rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

}

.heading-2 {
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.heading-3 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}